*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color:#C5E4E7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoSplitter {
    position: absolute;
    top: 5%;
}

section{
    background-color:#ffffff;
    width: 850px;
    height: 450px;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    border-radius: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


#part1{
    width: 44.7%; /*380 px*/
    height: 86.6%; /*390 px*/

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-left: 25px;
}

#bill{
    width: 80%;
    height: 20%;

    margin-top: 20px;
    margin-bottom: 30px;
}
#billValue{
    background-color: #F3F8FB;
    width: 345px;
    height: 45px;
    border-radius: 5px;

    position: relative;
    top: 35%;
    left: 57%;
    transform: translate(-50%, -50%);

    text-align: right;
    cursor: pointer;
    outline-color: #58d1c3;

    font-size: 1.5em;
    color: #0D4443;
    font-weight: bold;
    font-family: 'Space Mono', monospace, serif;
}
#bill img{
    position: relative;
    left: 15px;
    top: -26px;
}
#part1 h1{
    color: #647879;
    font-size: 1.2em;

    font-family: 'Space Mono', monospace, serif;
}

#tip{
    width: 100%;
    height: 38%;
    display: flex;
    flex-wrap: wrap;

    margin-bottom: -5px;
}
#tip h1{
    width:100%;
}
#tip .buttonTip{
    margin: 5px 10px;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    cursor: pointer;

    position: relative;
    left: -3%;

    background-color: #00474B;

    font-size: 1.2em;
    color: #F3FFFF;
    font-weight: bold;
    font-family: 'Space Mono', monospace, serif;
}


#customTip{
    margin: 10px;
    border-radius: 5px;
    width: 100px;
    height: 40px;

    position: relative;
    left: -3%;

    background-color: #F1F9FB;
    cursor: pointer;
    text-align: right;

    outline-color: #58d1c3;

    font-size: 1.2em;
    color: #0D4443;
    font-weight: bold;
}

#tip > .buttonTip:hover{
    background-color: #9FE8DF;
    color: #00474B;
}



#numberOfPeople{
    width: 80%;
    height: 20%;
}
#numberOfPeopleValue{
    background-color: #F3F8FB;
    width: 350px;
    height: 47px;
    border-radius: 5px;

    position: relative;
    left: 57%;
    transform: translatex(-50%);
    cursor: pointer;
    text-align: right;

    outline-color: #58d1c3;
    font-size: 1.5em;
    color: #0D4443;
    font-weight: bold;
    font-family: 'Space Mono', monospace, serif;
}
/*  OU
#numberOfPeopleValue:focus{
     outline: none !important; 
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
} */
#numberOfPeopleValue.erreur{
    outline-width: 1.8px;
    outline-color: #b46754;
}

#numberOfPeople img{
    position: relative;
    top: -25px;
    left: 15px;
    transform: translate(-50%, -50%);

    width: 15px;
}
#erreurPeople{
    height: 20px;
    position: relative;
    left: 230px;
    top: 24px;    

    color: #b46754;
    font-weight: bold;
    font-family: 'Space Mono', monospace, serif;
    font-size: 0.9em;
}




#part2{
    background-color: #00474B;
    width: 380px;
    height: 390px;
    border-radius: 12px;
    margin-left: -20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#part2 h1{
    font-size: 0.9em;
    color: #F3FFFF;
    font-family: 'Space Mono', monospace, serif;
}
#part2 p{
    font-size: 0.7em;
    color: #7e9fa1;
    font-family: 'Space Mono', monospace, serif;
}
#tipAmountValue, #totalValue{
    font-size: 2em;
    color: #23C3AD;
    font-family: 'Space Mono', monospace, serif;
    font-weight: bold;

    position: relative;
    left: 200px;
    top: -40px;
}

#tipAmount{
    width: 80%;
    height: 20%;

    position: relative;
    top: 8%;
}


#total{
    width: 80%;
    height: 20%;

    position: relative;
    top: 13%;
}

#reset{
    position: relative;
    top: 35%;
}
#reset button{
    cursor: pointer;
    width: 307px;
    height: 46px;
    border-radius: 5px;
    background-color: #26C2AD;

    font-size: 1.4em;
    color: #00474B;
    font-family: 'Space Mono', monospace, serif;
    font-weight: bold;
    text-transform: uppercase;
}
#reset button:hover{
    background-color: #9FE8DF;
}
#reset button.disabled{
    background-color: #0D686D;
    cursor: auto;
}



footer{
    position: absolute;
    bottom: 0px;
}




@media screen and (max-width: 750px)
{/* vertion mobile ou inférieur à max-width */


    body
    {
        left: 0; /* à 50%/50% du parent référent */
        right: 0;
        transform: translate(0); /* décalage de 50% de sa propre taille */

        width: auto;
        height:990px;
    }




    section{
        flex-direction: column ;


        width: 375px;
        height: 860px;
        position: absolute;
        top: 130px;
        left:50%;
        right:50%;
        transform: translate(-50%, 0);

        justify-content: center;
        align-items: center;
    }

    #part1{
        position: relative;
        top: -45px;

        height: 450px;
        width: 330px;

        
    }

    #part2{
        height: 250px;
        width: 325px;

        margin-left: 0;
        
    }



    #bill img{
        top: -19px;
    }



    #tip{
        padding-bottom: 30px;
        align-items: center;        
    }
    #tip h1{
        margin-bottom:10px;
    }
    #tip .buttonTip{
        width: 140px;
        height: 50px;
    }
    #customTip{
        width: 140px;
        height: 50px;
    }
    #tip .buttonTip, #customTip{
        font-size: 1.5em;
    }




    #tipAmount, #total{
        top: 50px;
    }
    #tipAmount{
        margin-bottom: 10px;
    }
    #reset{
        top: 70px;
    }
    #tipAmountValue, #totalValue{
        left: 170px;
        width: 110px;
    }

    #erreurPeople{
        width: 120px;
        left: 210px;
    }


    footer{
        position: relative;
        bottom: -965px;
    }

 }