*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color:#C5E4E7;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#logoSplitter {
    position: absolute;
    top: 5%;
}

section{
    background-color:#ffffff;
    width: 850px;
    height: 450px;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    border-radius: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center
}


#part1{
    width: 44.7%; /*380 px*/
    height: 86.6%; /*390 px*/

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#bill{
    width: 80%;
    height: 20%;
}
#billValue{
    background-color: #F3F8FB;
    width: 345px;
    height: 45px;
    border-radius: 5px;

    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: right;
    cursor: pointer;
    outline-color: #58d1c3;

    font-size: 1.5em;
    color: #0D4443;
    font-weight: bold;
    font-family: 'Space Mono', monospace, serif;
}
#bill img{
    position: relative;
    left: -5px;
    top: -26px;
}
#part1 h1{
    color: #647879;
    font-size: 1.2em;

    font-family: 'Space Mono', monospace, serif;
}

#tip{
    width: 80%;
    height: 35%;
    display: flex;
    flex-wrap: wrap;
}
#tip h1{
    width:100%;
}
#tip button{
    margin: 10px;
    border-radius: 6px;
    width: 80px;
    height: 35px;
    cursor: pointer;

    background-color: #00474B;

    font-size: 1.2em;
    color: #F3FFFF;
    font-weight: bold;
    font-family: 'Space Mono', monospace, serif;
}


#tip input{
    margin: 10px;
    border-radius: 5px;
    width: 80px;
    height: 35px;

    background-color: #F1F9FB;
    cursor: pointer;
    text-align: right;

    outline-color: #58d1c3;

    font-size: 1.2em;
    color: #0D4443;
    font-weight: bold;
}

#tip button:hover{
    background-color: #9FE8DF;
    color: #00474B;
}



#numberOfPeople{
    width: 80%;
    height: 20%;
}
#numberOfPeopleValue{
    background-color: #F3F8FB;
    width: 350px;
    height: 47px;
    border-radius: 5px;

    position: relative;
    left: 50%;
    transform: translatex(-50%);
    cursor: pointer;
    text-align: right;

    outline-color: #58d1c3;
    font-size: 1.5em;
    color: #0D4443;
    font-weight: bold;
    font-family: 'Space Mono', monospace, serif;
}
/*  OU
#numberOfPeopleValue:focus{
     outline: none !important; 
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
} */
#numberOfPeopleValue.erreur{
    outline-width: 1.8px;
    outline-color: #b46754;
}

#numberOfPeople img{
    position: relative;
    top: -25px;
    left: 5px;
    transform: translate(-50%, -50%);

    width: 15px;
    
}
#erreurPeople{
    height: 20px;
    position: relative;
    left: 230px;
    top: 24px;    

    color: #b46754;
    font-weight: bold;
    font-family: 'Space Mono', monospace, serif;
    font-size: 0.9em;
}




#part2{
    background-color: #00474B;
    width: 380px;
    height: 390px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#part2 h1{
    font-size: 0.9em;
    color: #F3FFFF;
    font-family: 'Space Mono', monospace, serif;
}
#part2 p{
    font-size: 0.7em;
    color: #7e9fa1;
    font-family: 'Space Mono', monospace, serif;
}
#tipAmountValue, #totalValue{
    font-size: 2em;
    color: #23C3AD;
    font-family: 'Space Mono', monospace, serif;
    font-weight: bold;

    position: relative;
    left: 200px;
    top: -40px;
}

#tipAmount{
    width: 80%;
    height: 20%;

    position: relative;
    top: 8%;
}


#total{
    width: 80%;
    height: 20%;

    position: relative;
    top: 13%;
}

#reset{
    position: relative;
    top: 35%;
}
#reset button{
    cursor: pointer;
    width: 307px;
    height: 46px;
    border-radius: 5px;
    background-color: #26C2AD;

    font-size: 1.4em;
    color: #00474B;
    font-family: 'Space Mono', monospace, serif;
    font-weight: bold;
    text-transform: uppercase;
}
#reset button:hover{
    background-color: #9FE8DF;
}












footer{
    position: absolute;
    bottom: 0;
}

